VITE_ACCOUNT_API_BASE_URL=/account/api/v2
VITE_PARTY_API_BASE_URL=/party/api/v2
VITE_ACCOUNT_CORE_TARGET=http://localhost:8081
VITE_PARTY_API_TARGET=http://localhost:8083
VITE_API_TIMEOUT=10000
VITE_APP_NAME=BanQuito Operador
VITE_ENVIRONMENT=development
VITE_DEBUG_MODE=false
VITE_ENABLE_ANALYTICS=false
